.container{
  padding: 20px 0;
  width: 55%;
  max-width: 1300px;
  margin: 0 auto;
}
.mainInfo,.subInfo{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.line{
  width: 100%;
  margin: 10px auto;
  border-bottom: 1px solid #D0CFCF;
}
.mainTitle{
  font-family: var(--main-kr-font);
  font-size: 26px;
  color: #737373;
  text-align: left;
}
.mainInfoContainer{
  display: flex;
  flex-direction: column;
}
.name,.email{
  display: flex;
  flex-direction: row;
}
.subTitle{
  text-align: left;
  width: 20%;
}
.subContent{
  text-align: left;
  margin: 0 20px;
}
.delivery{
  display: flex;
  flex-direction: column;
}
.subInfoTitle{
  text-align: left;
  font-size: 22px;
  font-family: var(--main-kr-font);
}
.inputAddr{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.addrContent1{
  width: 100%;
  text-align: left;
}
.addrContent2{
  width: 70%;
  text-align: left;
}
.addrContent3{
  width: 30%;
  text-align: left;
}
.addr1{
  width: 200px;
  height: 22px;
  margin-bottom: 5px;
}
.addr2{
  width: 95%;
  height: 22px;
}
.addr3{
  width: 100%;
  height: 22px;
}
.addrBtn{
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 10px;
}
.BtnContent{
  width: 150px;
  height: 30px;
}
.phoneNum{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.phoneNumInfo{
  width: 300px;
  height: 25px;
}
.phoneNumInfo input{
  width: 300px;
  height: 25px;
}
.allAgree{
  display: flex;
}
.detail{
  display: flex;
}
.agree,.policy1,.policy2{
  font-weight: 600;
  margin: 5px 10px;
}
.view{
  cursor: pointer;
  font-size: 14px;
}
.modalView{
  position: absolute;
  top: 25%;
  left: 33%;
  width: 600px;
  height: 600px;
  background-color: #fffefe;
  box-shadow: 2px 2px 6px #bbbbbb;
}
.Btn{
  margin-top: 50px;
}
.saveBtn{
  width: 350px;
  height: 35px;
  margin: 20px auto;
}
.addInfo{
  font-size: 14px;
  color: #737373;
}